.header {
    display: flex;
    padding: 20px 20px;
    gap: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    align-items: center;
}

.logo {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 2px;

    .logo_title {
        color: #5179ff;
    }
}



.nav {
    display: flex;
    gap: 20px;



    a {
        color: white;
        text-decoration: none;
        padding: 5px 10px;

        &:hover {
            color: white;
            background-color: #517aff15;
            border-radius: 4px;
        }
    }

    .active {
        background-color: #5179ff;
        border-radius: 4px;

        &:hover {
            opacity: 0.9;
            background-color: #5179ff;
            border-radius: 4px;
        }
    }

}

.scroll {
    background-color: black;
}